.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
}
.charst-wrapper {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  border: 1px solid hotpink;
  margin-bottom: 2rem;
}

/* .charst-wrapper div {
  width: 80%;rgb(105, 255, 178)rgb(11, 237, 120)
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
} */
