@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;700&family=Lato:ital@0;1&family=Lexend+Deca&family=Montserrat&family=Nunito+Sans:ital,wght@1,600&family=Roboto+Mono&family=Roboto:wght@300;400;500&family=Titillium+Web:wght@200;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --theme: #2870ff;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 226, 0.75);
}
body {
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}
.input-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 70%;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 10px;
  padding: 0 1.2rem;
}
.input-flex input {
  width: 100%;
  padding: 0.5rem;
  border: none;
}
.input-flex input:focus {
  outline: none !important;
}
.select-input {
  width: 30%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem !important;
  padding: 0.4rem 0.5rem;
}
.select-input > div {
  border: 0px solid #fff !important;
}
